@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/bijington/expressive" target="_blank">GitHub</a>
        <a href="https://github.com/bijington/expressive/wiki" target="_blank">Documentation</a>
        <a href="https://www.nuget.org/packages/ExpressiveParser/" target="_blank">NuGet</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
